<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Autoparts at a klik" />
    <meta name="author" content="Partsklik" />
    <meta name="keywords" content="partsklik german cars crm" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>PartsKlik CRM</title>

    <link href="../../static/css/app.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style>
      .input_label {
        font-size: 12px;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      {% include "components/sidebar.html" %}

      <div class="main">
        {% include "components/navbar.html" %}
        <div>{% include "components/message.html" %}</div>

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"><strong>Add</strong> Product</h1>

            <div class="card">
              <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="input_label">Product Details</label>
                      <input
                        placeholder="Product SKU"
                        class="form-control"
                        name="product_sku"
                        required
                      />
                      <input
                        placeholder="Product Name"
                        class="form-control my-2"
                        name="product_name"
                        required
                      />

                      <div class="row">
                        <div class="col-6">
                          <select class="form-control my-2" name="brand">
                            <option>--Select Brand--</option>
                            {% for brand in all_brands %}
                            <option>{{brand}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-6">
                          <select class="form-control my-2" name="product_type">
                            <option>--Select Type--</option>
                            {% for type in all_type %}
                            <option>{{type}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <input
                        placeholder="OEM Number "
                        class="form-control my-2"
                        name="oem_number"
                      />
                      <input
                        placeholder="Part Number"
                        class="form-control my-2"
                        name="part_number"
                      />

                      <textarea
                        placeholder="Product Description"
                        class="form-control"
                        name="description"
                        rows="5"
                      ></textarea>
                    </div>
                    <div class="col-md-3">
                      <label class="input_label">Product Prices</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text">₹</span>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Product MRP"
                          name="mrp"
                        />
                        <span class="input-group-text">.00</span>
                      </div>

                      <div class="input-group mb-3">
                        <span class="input-group-text">₹</span>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Product Price"
                          name="price"
                        />
                        <span class="input-group-text">.00</span>
                      </div>

                      <label class="input_label">Product Dimensions</label>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Length"
                          name="length"
                        />
                        <span class="input-group-text" id="basic-addon2"
                          >cm</span
                        >
                      </div>

                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Breadth"
                          name="breadth"
                        />
                        <span class="input-group-text" id="basic-addon2"
                          >cm</span
                        >
                      </div>

                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Height"
                          name="height"
                        />
                        <span class="input-group-text" id="basic-addon2"
                          >cm</span
                        >
                      </div>

                      <label class="input_label">Product Weight</label>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Weight"
                          name="weight"
                        />
                        <span class="input-group-text" id="basic-addon2"
                          >kg</span
                        >
                      </div>
                    </div>

                    <div class="col-md-3">
                      <label class="input_label">Inventory</label>
                      <input
                        placeholder="Inventory Stock"
                        class="form-control"
                        name="in_stock"
                      />

                      <label class="input_label" style="margin-top: 18px"
                        >Color/Material</label
                      >
                      <input
                        placeholder="Product Color"
                        class="form-control"
                        name="color"
                      />
                      <input
                        placeholder="Product Material"
                        class="form-control my-2"
                        name="material"
                      />
                      <button class="btn btn-primary my-5 w-100">
                        Add Product
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="../../static/js/app.js"></script>
</html>
