<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Autoparts at a klik" />
    <meta name="author" content="Partsklik" />
    <meta name="keywords" content="partsklik german cars crm" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>PartsKlik CRM</title>

    <link href="../../static/css/app.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      {% include "components/sidebar.html" %}

      <div class="main">
        {% include "components/navbar.html" %}
        <div>{% include "components/message.html" %}</div>

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"><strong>Product</strong> Details</h1>

            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 style="text-align: center">
                          <img
                            src="https://turbowale.com/cdn/shop/files/Turbocharger-For-Toyota-Fortuner-new-model-17201-11080-1_671x901.webp?v=1700114850"
                            alt="product_img"
                            style="
                              width: 325px;
                              height: 355px;
                              border-radius: 8px;
                              object-fit: cover;
                              padding: 10px;
                            "
                          />
                        </h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">
                        <label class="input_label"
                          ><i
                            class="fa fa-angle-double-right"
                            aria-hidden="true"
                          ></i>
                          Product Details</label
                        >
                        <div class="p_detail my-3">
                          <h6>
                            <span style="color: rgb(153, 153, 153)">SKU: </span>
                            <b
                              class="badge bg-info"
                              style="font-size: 13px; letter-spacing: 0.3px"
                              >#{{product.product_sku}}</b
                            >
                          </h6>
                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Product:
                            </span>
                            <b>{{product.product_name}}</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Brand:
                            </span>
                            <b>{{product.brand}}</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Type:
                            </span>
                            <b>TURBOCHARGER</b>
                          </h6>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-5">
                            <label class="input_label"
                              ><i
                                class="fa fa-angle-double-right"
                                aria-hidden="true"
                              ></i>
                              Product Price</label
                            >
                            <div class="p_detail my-3">
                              <h6>
                                <span style="color: rgb(153, 153, 153)"
                                  >Product Price:
                                </span>
                                <b style="font-size: 18px; color: red"
                                  >₹15,000</b
                                >
                              </h6>

                              <h6 class="my-3">
                                <span style="color: rgb(153, 153, 153)"
                                  >Product MRP:
                                </span>
                                <b style="color: rgb(97, 97, 97)">₹20,000</b>
                              </h6>
                            </div>
                          </div>

                          <div
                            class="col-7"
                            style="border-left: 1px solid rgb(230, 230, 230)"
                          >
                            <label class="input_label"
                              ><i
                                class="fa fa-angle-double-right"
                                aria-hidden="true"
                              ></i>
                              Dimensions</label
                            >

                            <div class="p_detail my-3">
                              <div class="row">
                                <div class="col-6">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Length:
                                    </span>
                                    <b
                                      class="badge bg-info"
                                      style="font-size: 13px"
                                      >25cm</b
                                    >
                                  </h6>
                                </div>
                                <div class="col-6">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Breadth:
                                    </span>
                                    <b
                                      class="badge bg-info"
                                      style="font-size: 13px"
                                      >20cm</b
                                    >
                                  </h6>
                                </div>
                                <div class="col-6 my-2">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Height:
                                    </span>
                                    <b
                                      class="badge bg-info"
                                      style="font-size: 13px"
                                      >20cm</b
                                    >
                                  </h6>
                                </div>

                                <div class="col-6 my-2">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Weight:
                                    </span>
                                    <b
                                      class="badge bg-primary"
                                      style="font-size: 13px"
                                      >20kg</b
                                    >
                                  </h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <label class="input_label"
                      ><i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                      Product Description</label
                    >

                    <p class="my-3">
                      What is Lorem Ipsum? Lorem Ipsum is simply dummy text of
                      the printing and typesetting industry. Lorem Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s, when an unknown printer took a galley of type and
                      scrambled it to make a type specimen book. It has survived
                      not only five centuries, but also the leap into electronic
                      typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset
                      sheets containing Lorem Ipsum passages, and more recently
                      with desktop publishing software like Aldus PageMaker
                      including versions of Lorem Ipsum. Why do we use it? It is
                      a long established fact that a reader will be distracted
                      by the readable content of a page when looking at its
                      layout. The point of using Lorem Ipsum is that it has a
                      more-or-less normal distribution of letters, as opposed to
                      using 'Content here, content here', making it look like
                      readable English. Many desktop publishing packages and web
                      page editors now use Lorem Ipsum as their default model
                      text, and a search for 'lorem ipsum' will uncover many web
                      sites still in their infancy. Various versions have
                      evolved over the years, sometimes by accident, sometimes
                      on purpose (injected humour and the like). Where does it
                      come from? Contrary to popular belief, Lorem Ipsum is not
                      simply random text. It has roots in a piece of classical
                      Latin literature from 45 BC, making it over 2000 years
                      old. Richard McClintock, a Latin professor at
                      Hampden-Sydney College in Virginia, looked up one of the
                      more obscure Latin words, consectetur, from a Lorem Ipsum
                      passage, and going through the cites of the word in
                      classical literature, discovered the undoubtable source.
                      Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de
                      Finibus Bonorum et Malorum" (The Extremes of Good and
                      Evil) by Cicero, written in 45 BC. This book is a treatise
                      on the theory of ethics, very popular during the
                      Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                      dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <label class="input_label"
                      ><i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                      Part Numbers</label
                    >

                    <h6 class="my-3" style="font-size: 13px; line-height: 16px">
                      <b
                        >313539821485, 3135398487552, 45454875454,313539821485,
                      </b>
                    </h6>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <label class="input_label"
                      ><i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                      OEM Numbers</label
                    >

                    <h6 class="my-3" style="font-size: 13px; line-height: 16px">
                      <b>BV43001, 0302DM0051N</b>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="../../static/js/app.js"></script>
</html>
