<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Autoparts at a klik" />
    <meta name="author" content="Partsklik" />
    <meta name="keywords" content="partsklik german cars crm" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>PartsKlik CRM</title>

    <link href="../../static/css/app.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="semantic/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="semantic/dist/semantic.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      {% include "components/sidebar.html" %}

      <div class="main">
        {% include "components/navbar.html" %}
        <div>{% include "components/message.html" %}</div>
        <!-- <div class="ui modal">{% include "components/editproduct.html" %}</div> -->

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"><strong>Product</strong> Details</h1>

            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <h5 style="text-align: center">
                      <img
                        src="https://turbowale.com/cdn/shop/files/Turbocharger-For-Toyota-Fortuner-new-model-17201-11080-1_671x901.webp?v=1700114850"
                        alt="product_img"
                        style="
                          width: 325px;
                          height: 340px;
                          border-radius: 8px;
                          object-fit: cover;
                          padding: 10px;
                        "
                      />
                    </h5>
                  </div>
                </div>
              </div>

              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <label class="input_label"
                          ><i
                            class="fa fa-angle-double-right"
                            aria-hidden="true"
                          ></i>
                          Product Details</label
                        >
                        <div class="p_detail my-3">
                          <h6>
                            <span style="color: rgb(153, 153, 153)">SKU: </span>
                            <b
                              class="badge bg-info"
                              style="font-size: 13px; letter-spacing: 0.3px"
                              >#PRTK0002</b
                            >
                          </h6>
                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Product:
                            </span>
                            <b>TURBOCHARGER XUV-300 TEL</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Brand:
                            </span>
                            <b>TEL</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Type:
                            </span>
                            <b>TURBOCHARGER</b>
                          </h6>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <label class="input_label"
                          ><i
                            class="fa fa-angle-double-right"
                            aria-hidden="true"
                          ></i>
                          Product Price</label
                        >
                        <div class="p_detail my-3">
                          <h6>
                            <span style="color: rgb(153, 153, 153)"
                              >Product Price:
                            </span>
                            <b style="font-size: 18px; color: red">₹15,000</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Product MRP:
                            </span>
                            <b style="color: rgb(97, 97, 97)">₹20,000</b>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6"></div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="../../static/js/app.js"></script>
</html>
