<i class="close icon"></i>
<div class="header">Profile Picture</div>
<div class="image content">
  <div class="ui medium image">
    <img src="/images/avatar/large/chris.jpg" />
  </div>
  <div class="description">
    <div class="ui header">Update Product</div>
    <form>
      <input class="form-control my-1" placeholder="Product SKU" />
      <input class="form-control my-1" placeholder="Product Name" />
      <input class="form-control my-1" placeholder="Product Brand" />
      <input class="form-control my-1" placeholder="Product Type" />
      <input class="form-control my-1" placeholder="Product Price" />
      <input class="form-control my-1" placeholder="Stock" />
      <input class="form-control my-1" placeholder="OEM Number" />
      <input class="form-control my-1" placeholder="Part Number" />
      <input class="form-control my-1" placeholder="Product name" />
      <input class="form-control my-1" placeholder="Length" />
      <input class="form-control my-1" placeholder="Breadth" />
      <input class="form-control my-1" placeholder="Width" />
      <input class="form-control my-1" placeholder="Weight" />
    </form>
  </div>
</div>
<div class="actions">
  <div class="ui black deny button">Nope</div>
  <div class="ui positive right labeled icon button">
    Yep, that's me
    <i class="checkmark icon"></i>
  </div>
</div>
