<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input class="form-control my-1" placeholder="Product SKU" />
          <input class="form-control my-1" placeholder="Product Name" />
          <input class="form-control my-1" placeholder="Product Brand" />
          <input class="form-control my-1" placeholder="Product Type" />
          <input class="form-control my-1" placeholder="Product Price" />
          <input class="form-control my-1" placeholder="Stock" />
          <input class="form-control my-1" placeholder="OEM Number" />
          <input class="form-control my-1" placeholder="Part Number" />
          <input class="form-control my-1" placeholder="Product name" />
          <input class="form-control my-1" placeholder="Length" />
          <input class="form-control my-1" placeholder="Breadth" />
          <input class="form-control my-1" placeholder="Width" />
          <input class="form-control my-1" placeholder="Weight" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
