<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Autoparts at a klik" />
    <meta name="author" content="Partsklik" />
    <meta name="keywords" content="partsklik german cars crm" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>PartsKlik CRM</title>

    <link href="../../static/css/app.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="semantic/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="semantic/dist/semantic.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      {% include "components/sidebar.html" %}

      <div class="main">
        {% include "components/navbar.html" %}
        <div>{% include "components/message.html" %}</div>

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"><strong>Master</strong> Products</h1>

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>

                      <!-- Input search field start -->
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search..."
                        aria-describedby="addon-wrapping"
                      />
                      <!-- Input search field end -->
                    </div>
                  </div>
                  <div class="col-md-6" style="text-align: right">
                    <a href="/add-product" class="btn btn-primary">
                      Add product
                    </a>

                    <a class="btn btn-secondary" href="/import-product"
                      >Import product</a
                    >

                    <button class="btn btn-success">Export product</button>
                  </div>
                </div>
              </div>
            </div>

            <table class="table border" style="font-size: 13px">
              <thead class="table-primary">
                <tr>
                  <td>SKU</td>
                  <td>Product</td>
                  <td>Product Type</td>
                  <td>Brand</td>
                  <td>Part Numbers</td>
                  <td>OEM Numbers</td>
                  <td>Price</td>
                  <td>MRP</td>
                  <td>Stock</td>
                  <td>Dimensions</td>
                  <td>Weight</td>
                  <td>Color/Material</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody style="background-color: white">
                <tr>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="../../static/js/app.js"></script>
</html>
