<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Autoparts at a klik" />
    <meta name="author" content="Partsklik" />
    <meta name="keywords" content="partsklik german cars crm" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>PartsKlik CRM</title>

    <link href="../../static/css/app.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      {% include "components/sidebar.html" %}

      <div class="main">
        {% include "components/navbar.html" %}
        <div>{% include "components/message.html" %}</div>

        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"><strong>Order</strong> Details</h1>

            <div class="row">
              <div class="col-9">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 style="text-align: center">
                          <img
                            src="../../static/img/photos/shopify.svg"
                            alt="product_img"
                            style="border-radius: 8px; width: 100%"
                          />
                        </h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">
                        <label class="input_label"
                          ><i
                            class="fa fa-angle-double-right"
                            aria-hidden="true"
                          ></i>
                          Product Details</label
                        >
                        <div class="p_detail my-3">
                          <h6>
                            <span style="color: rgb(153, 153, 153)">SKU: </span>
                            <b
                              class="badge bg-info"
                              style="font-size: 13px; letter-spacing: 0.3px"
                              >#{{product.product_sku}}</b
                            >
                          </h6>
                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Product:
                            </span>
                            <b>{{product.product_name}}</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Brand:
                            </span>
                            <b>{{product.brand}}</b>
                          </h6>

                          <h6 class="my-3">
                            <span style="color: rgb(153, 153, 153)"
                              >Type:
                            </span>
                            <b>{{product.product_type}}</b>
                          </h6>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-5">
                            <label class="input_label"
                              ><i
                                class="fa fa-angle-double-right"
                                aria-hidden="true"
                              ></i>
                              Product Price</label
                            >
                            <div class="p_detail my-3">
                              <h6>
                                <span style="color: rgb(153, 153, 153)"
                                  >Product Price:
                                </span>
                                <b style="font-size: 18px; color: red"
                                  >₹{{product.price}}</b
                                >
                              </h6>

                              <h6 class="my-3">
                                <span style="color: rgb(153, 153, 153)"
                                  >Product MRP:
                                </span>
                                <b style="color: rgb(97, 97, 97)"
                                  >₹{{product.mrp}}</b
                                >
                              </h6>
                            </div>
                          </div>

                          <div
                            class="col-7"
                            style="border-left: 1px solid rgb(230, 230, 230)"
                          >
                            <label class="input_label"
                              ><i
                                class="fa fa-angle-double-right"
                                aria-hidden="true"
                              ></i>
                              Dimensions</label
                            >

                            <div class="p_detail my-3">
                              <div class="row">
                                <div class="col-6">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Length:
                                    </span>
                                    <b
                                      class="badge bg-info"
                                      style="font-size: 13px"
                                      >{{product.length}}cm</b
                                    >
                                  </h6>
                                </div>
                                <div class="col-6">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Breadth:
                                    </span>
                                    <b
                                      class="badge bg-info"
                                      style="font-size: 13px"
                                      >{{product.breadth}}cm</b
                                    >
                                  </h6>
                                </div>
                                <div class="col-6 my-2">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Height:
                                    </span>
                                    <b
                                      class="badge bg-info"
                                      style="font-size: 13px"
                                      >{{product.height}}cm</b
                                    >
                                  </h6>
                                </div>

                                <div class="col-6 my-2">
                                  <h6>
                                    <span style="color: rgb(153, 153, 153)"
                                      >Weight:
                                    </span>
                                    <b
                                      class="badge bg-primary"
                                      style="font-size: 13px"
                                      >{{product.weight}}kg</b
                                    >
                                  </h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <label class="input_label"
                      ><i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                      Product Description</label
                    >

                    <p class="my-3">{{product.description}}</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <label class="input_label"
                      ><i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                      Part Numbers</label
                    >

                    <h6 class="my-3" style="font-size: 13px; line-height: 16px">
                      <b>{{product.part_number}} </b>
                    </h6>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <label class="input_label"
                      ><i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                      OEM Numbers</label
                    >

                    <h6 class="my-3" style="font-size: 13px; line-height: 16px">
                      <b>{{product.oem_number}}</b>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="../../static/js/app.js"></script>
</html>
