<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Autoparts at a klik" />
    <meta name="author" content="Partsklik" />
    <meta name="keywords" content="partsklik german cars crm" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="/static/img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>PartsKlik CRM</title>

    <link href="../../static/css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      {% include "components/sidebar.html" %}

      <div class="main">
        {% include "components/navbar.html" %}
        <div>{% include "components/message.html" %}</div>
        <main class="content">
          <div class="container-fluid p-0">
            <h1 class="h3 mb-3"><strong>IndiaMart</strong> Leads</h1>

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>

                      <!-- Input search field start -->
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search..."
                        aria-describedby="addon-wrapping"
                      />
                      <!-- Input search field end -->
                    </div>
                  </div>
                  <div class="col-md-6" style="text-align: right">
                    <a href="/refresh-leads" class="btn btn-success"
                      ><i class="fa fa-refresh" aria-hidden="true"></i>
                      Reload</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <table class="table border" style="font-size: 13px">
              <thead class="table-primary">
                <tr>
                  <td style="min-width: 15vh">Lead Name</td>
                  <td style="min-width: 15vh">Contact</td>
                  <td>Email</td>
                  <td>Subject</td>
                  <td>Address</td>
                  <td>Product</td>
                  <td>Message</td>
                  <td style="min-width: 18vh">Enquiry Time</td>
                </tr>
              </thead>
              <tbody>
                {% for lead in all_leads %}
                <tr>
                  <td>{{lead.lead_name}}</td>
                  <td>{{lead.contact}}</td>
                  <td>{{lead.email}}</td>
                  <td>{{lead.subject}}</td>
                  <td>{{lead.address}}</td>
                  <td>{{lead.product}}</td>
                  <td>{{lead.message}}</td>
                  <td>{{lead.enquery_time}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script src="../../static/js/app.js"></script>
</html>
